@font-face {
	font-family: 'icomoon';
	src:url('fonts/icomoon.eot?-jawv2y');
	src:url('fonts/icomoon.eot?#iefix-jawv2y') format('embedded-opentype'),
		url('fonts/icomoon.woff?-jawv2y') format('woff'),
		url('fonts/icomoon.ttf?-jawv2y') format('truetype'),
		url('fonts/icomoon.svg?-jawv2y#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
    font-family: 'icomoon';
    speak: none;
    font-size:25px;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 0;
    margin: 0.2em;
	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-user2:before {
	content: "\f007";
}

.icon-close:before {
	content: "\f00d";
}

.icon-chevron-left:before {
	content: "\f053";
}

.icon-chevron-right:before {
	content: "\f054";
}

.icon-times-circle:before {
	content: "\f057";
}

.icon-automobile:before {
	content: "\f1b9";
}

.icon-file-image-o:before {
	content: "\f1c5";
}

.icon-file-movie-o:before {
	content: "\f1c8";
}

.icon-line-chart:before {
	content: "\f201";
}

.icon-stack:before {
	content: "\e61f";
}

.icon-twitter:before {
	content: "\e620";
}

.icon-facebook:before {
	content: "\e621";
}

.icon-geofence:before {
	content: "\e618";
}

.icon-reporting:before {
	content: "\e619";
}

.icon-resource:before {
	content: "\e61a";
}

.icon-routing:before {
	content: "\e61b";
}

.icon-update:before {
	content: "\e61c";
}

.icon-user:before {
	content: "\e61d";
}

.icon-openspace:before {
	content: "\e616";
}

.icon-public_utilities_damage:before {
	content: "\e615";
}

.icon-policestation:before {
	content: "\e61e";
}

.icon-hospital:before {
	content: "\e617";
}

.icon-building_affected:before {
	content: "\e600";
}

.icon-building_damaged:before {
	content: "\e601";
}

.icon-cloth:before {
	content: "\e602";
}

.icon-death:before {
	content: "\e603";
}

.icon-displaced:before {
	content: "\e604";
}

.icon-drinking_water:before {
	content: "\e605";
}

.icon-earthquake:before {
	content: "\e606";
}

.icon-emergency_situation:before {
	content: "\e607";
}

.icon-event:before {
	content: "\e608";
}

.icon-fire:before {
	content: "\e609";
}

.icon-food:before {
	content: "\e60a";
}

.icon-fuel:before {
	content: "\e60b";
}

.icon-human_resource:before {
	content: "\e60c";
}

.icon-medicine:before {
	content: "\e60d";
}

.icon-missing:before {
	content: "\e60e";
}

.icon-need:before {
	content: "\e60f";
}

.icon-property_loss:before {
	content: "\e610";
}

.icon-rescue_vehicle_ambulance:before {
	content: "\e611";
}

.icon-rescue_vehicle_other:before {
	content: "\e612";
}

.icon-shelter:before {
	content: "\e613";
}

.icon-wash_water:before {
	content: "\e614";
}

