@font-face {
    font-family: 'icomoon';
    src:url('fonts/icomoon.eot?-jawv2y');
    src:url('fonts/icomoon.eot?#iefix-jawv2y') format('embedded-opentype'),
    url('fonts/icomoon.woff?-jawv2y') format('woff'),
    url('fonts/icomoon.ttf?-jawv2y') format('truetype'),
    url('fonts/icomoon.svg?-jawv2y#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
    font-family: 'icomoon';
    speak: none;
    font-size:25px;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 0;
    margin: 0.2em;
    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-assessment:before {
    content: "\e600";
}

.icon-rapid_assessment:before {
    content: "\e601";
}

.icon-about:before {
    content: "\e602";
}

.icon-automobile:before {
    content: "\e603";
}

.icon-building_affected:before {
    content: "\e604";
}

.icon-building_damaged:before {
    content: "\e605";
}

.icon-chevron-left:before {
    content: "\e606";
}

.icon-chevron-right:before {
    content: "\e607";
}

.icon-close:before {
    content: "\e608";
}

.icon-cloth:before {
    content: "\e609";
}

.icon-damage:before {
    content: "\e60a";
}

.icon-death:before {
    content: "\e60b";
}

.icon-displaced:before {
    content: "\e60c";
}

.icon-drinking_water:before {
    content: "\e60d";
}

.icon-earthquake:before {
    content: "\e60e";
}

.icon-emergency_situation:before {
    content: "\e60f";
}

.icon-event:before {
    content: "\e610";
}

.icon-facebook:before {
    content: "\e611";
}

.icon-file-image-o:before {
    content: "\e612";
}

.icon-file-movie-o:before {
    content: "\e613";
}

.icon-fire:before {
    content: "\e614";
}

.icon-food:before {
    content: "\e615";
}

.icon-fuel:before {
    content: "\e616";
}

.icon-geofence:before {
    content: "\e617";
}

.icon-hospital:before {
    content: "\e618";
}

.icon-human_resource:before {
    content: "\e619";
}

.icon-incident:before {
    content: "\e61a";
}

.icon-infrastructure_damage:before {
    content: "\e61b";
}

.icon-injury:before {
    content: "\e61c";
}

.icon-line-chart:before {
    content: "\e61d";
}

.icon-medicine:before {
    content: "\e61e";
}

.icon-missing:before {
    content: "\e61f";
}

.icon-need:before {
    content: "\e620";
}

.icon-notification:before {
    content: "\e621";
}

.icon-openspace:before {
    content: "\e622";
}

.icon-policestation:before {
    content: "\e623";
}

.icon-power-off:before {
    content: "\e624";
}

.icon-property_loss:before {
    content: "\e625";
}

.icon-public_utilities_damage:before {
    content: "\e626";
}

.icon-reporting:before {
    content: "\e627";
}

.icon-rescue_vehicle_ambulance:before {
    content: "\e628";
}

.icon-rescue_vehicle_other:before {
    content: "\e629";
}

.icon-resource:before {
    content: "\e62a";
}

.icon-routing:before {
    content: "\e62b";
}

.icon-service_disconnect:before {
    content: "\e62c";
}

.icon-settings:before {
    content: "\e62d";
}

.icon-shelter:before {
    content: "\e62e";
}

.icon-stack:before {
    content: "\e62f";
}

.icon-stranded:before {
    content: "\e630";
}

.icon-times-circle:before {
    content: "\e631";
}

.icon-twitter:before {
    content: "\e632";
}

.icon-update:before {
    content: "\e633";
}

.icon-user:before {
    content: "\e634";
}

.icon-user2:before {
    content: "\e635";
}

.icon-wash_water:before {
    content: "\e636";
}

.icon-health:before {
    content: "\e637";
}

.icon-checkmark:before {
    content: "\e638";
}

.icon-search:before {
    content: "\e639";
}

.icon-filter:before {
    content: "\e63a";
}

.icon-compass:before {
    content: "\e63b";
}

.icon-target:before {
    content: "\e63c";
}

.icon-location:before {
    content: "\e63d";
}

